.o-spreadsheet {
    height: 100%;

    .fa {
        font-family: FontAwesome;
    }

    .o-selection input {
        display: initial;
    }

    .o-scorecard, .o-gauge-chart {
        border-radius: 8px;
    }
}

.o-sidePanel {
<<<<<<< HEAD
    .o-input{
        background-origin: content-box;
    }

    .o-sidePanelButtons .o-button {
        color: #666;

        &.o_global_filter_save {
            color: $o-brand-primary;
            border-color: $o-brand-primary;
        }

        &.o_delete_element {
            color: #fff;
            background-color: map-get($theme-colors, "danger");
            border-color: map-get($theme-colors, "danger");

            &:hover:enabled {
                background-color: darken(map-get($theme-colors, "danger"), 7%);
                border-color: #bd2130;
            }
        }
=======
    .o_input {
        color: #111827;
        border-color: #D8DADD;
        &::placeholder {
            opacity: 0.5;
        }
    }

    .o_required_modifier {
        .o-input {
            border-color: #111827;
        }
    }

    .o_tree_editor_condition {
        flex-wrap: wrap;
    }

    .o-sp-badge {
        background-color: #374151C2;
        color: #fff;
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
    }
}
