.o_setting_container {
    .o_web_settings_user {
        font-size: 95%;
        font-weight: 500;
    }
}

.o_doc_link {
    text-decoration: none;
    font-weight: normal;
<<<<<<< HEAD

    &::after{
        content: "\f059"; //fa-question-circle
        font-family: 'FontAwesome';
    }
=======
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
}
