.o_todo_form_view {
    .o_form_sheet_bg {
        .o_form_sheet {
            .oe_title {
                max-width: initial;
            }

            .o_widget_todo_archived > .ribbon {
                margin-top: 0px;
            }
        }
<<<<<<< HEAD
        .o_field_html .note-editable {
            border: none !important;
            min-height: 300px;
            padding: 16px 40px 4px 16px
        }
    }

    .o_form_sheet {
        --formView-sheet-padding-y: 4px;
        --formView-sheet-padding-x: 4px;
        padding-right: 16px !important;
    }

    &.o_form_readonly {
        .oe_description {
            padding: $o-sheet-vpadding $o-horizontal-padding;
=======
    }
    .o_task_state_widget {
        font-size: large;
    }
    @include media-breakpoint-up(xxl) {
        .o_widget_todo_chatter_panel {
            width: 35%;
        }
    }
    @include media-breakpoint-down(xxl, $o-extra-grid-breakpoints) {
        .o_widget_todo_chatter_panel {
            min-width: 100%;
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
        }
    }

    .oe_description {
        overflow-x: hidden;
    }
}

.o_todo_hide_avatar .o_avatar {
    display: none;
}
