.o_record_selector, .o_multi_record_selector {
    &:hover, &:focus-within {
<<<<<<< HEAD
        .o_dropdown_button {
            &:after {
                @include o-caret-down;
            }
=======
        .o_dropdown_button:after {
            @include o-caret-down;
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
        }
    }

    .o_record_autocomplete_with_caret {
        display: flex;
        min-width: 100%;

        &:hover, &:focus-within {
            &::after {
                @include o-caret-down;
                align-self: center;
            }
        }
    }
}
