.navbar-container {
<<<<<<< HEAD
    .category-item, .search-button {
        width: calc(3.5rem + 2vw);
    }

=======
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
    .category-item {
        width: calc(3.5rem + 2vw);

        .category-name {
            word-break: break-all;
        }

        .category-name {
            word-break: break-all;
        }
    }
}

.unavailable-text {
    color:#e8590c;
}
