.combo-configurator-popup input{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.combo-configurator-popup input.selected + label {
<<<<<<< HEAD
    box-shadow: 0 0 0 ($border-width * 2) $primary;
=======
    box-shadow: 0 0 0 ($border-width * 2) $o-action;
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
}
