div.o_product_catalog_quantity {
    input[type="number"] {
        // Remove arrow buttons input type="number"
        appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }
}

<<<<<<< HEAD
.o_kanban_view .o_kanban_renderer .o_kanban_record .o_product_added {
=======
.o_kanban_view .o_kanban_renderer .o_kanban_record.o_product_added {
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
    background-color: $o-component-active-bg;
    border-color: $o-component-active-border;
}
