
.s_mega_menu_images_subtitles:not([data-vcss]) {
    .d-flex img {
        max-width: 64px;
        align-self: start;
    }

    .nav-link {
        &:hover, &:focus {
            background: rgba(0, 0, 0, .05);
        }
    }

<<<<<<< HEAD
    .row > div {
=======
    .row > div.col-lg {
>>>>>>> 06627dce7193576dd948aba13dceb28c33506fc8
        @include media-breakpoint-down(lg) {
            min-width: fit-content;
        }
    }
}
